*, html, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  /* Body */
  --shintlight: 'Shadows Into Light', cursive;
  /* Headings */
  --permanentmark: 'Permanent Marker', cursive;
}

body {
  font-size: 1rem;
  font-family: var(--shintlight);
  background: #FFF9F9;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #AEFEFF;
}

.logo {
  padding: .4rem;
}

nav img {
  width: 150px;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin-right: 7rem;
  /* position: relative; */
}

/* Stylings on the list item  */
.nav_item {
  margin: auto 10px;
  text-transform: uppercase;
  font-family: var(--shintlight);
  font-weight: bold;
  letter-spacing: 5px;
  border-radius: 2px;
  position: relative;
}

/* Styling for the links themselves */
.nav_link {
  font-size: 1.3rem;
  color: #F94892;
  text-decoration: none;
  transition: all 0.3s;
}

.nav_link:hover {
  color: #4FBDBA;
}

/* Adding the small underline beneath the links */
.nav_item a.nav_link::before {
  position: absolute;
  width: 100%;
  background: #F94892;
  height: 2px;
  content: '';
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}

/* Links hover changed background to the #4FBDBA and decreased opacity for text visibility + full height for beauty */
a.nav_link:hover:before {
  opacity: 0.2;
  height: 100%;
  background: #4FBDBA;
}

main {
  display: flex;
}

.myform {
  width: 40%;
  padding: 3rem;
  margin: 4rem auto;
  max-width: 400px;
  /* border: 1px solid #222; */
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  background: #fff;
  /* margin-bottom: 2rem; */
}

form {
  /* position: relative; */
}

.myform h2 {
  font-family: var(--permanentmark);
  font-size: 1.5rem;
  letter-spacing: .4rem;
  text-align: center;
  padding-bottom: 1rem;
}

.myform label {
  letter-spacing: .1rem;
}

input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: .8rem;
  letter-spacing: .1rem;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  outline: 0;
  border-color: #4697e4;
}

label[for="male"], label[for="female"], label[for="other"] {
  font-size: .8rem;
}

/* The message for required patterns of inputs */
.format {
  color: #ccc;
  font-size: .8rem;
  opacity: 0;
  height: 0;
}

input:focus+.format {
  opacity: 1;
  height: auto;
}

/* Tried adding the * for required labels in the form: didnt work out */
/* label::after {
  margin-left: .7rem;
  position: absolute;
}

label[type=email]::after, label[for=password]::after, label[for=fname]::after, label[for=lname]::after {
  content: '*';
  color: #EA5C2B;
} */
.myform button {
  border: none;
  border-radius: 5rem;
  padding: 1.3rem 2.5rem;
  width: 100%;
  margin: 1.2rem auto;
  font-size: 1.5rem;
  font-family: var(--permanentmark);
  color: #fff;
  align-self: center;
  text-transform: uppercase;
  background-color: #EA5C2B;
  transition: all .3s;
}

.myform button:hover {
  background-color: #FF7F3F;
  scale: 1.1;
}

/* Idea part - small game that starts on form sign-up */
.play_guess {
  width: 60%;
  /* margin-right: 7rem; */
}

.play_guess .bg_img {
  position: relative;
  /* height: auto; */
}

.bg_img img {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  opacity: .7;
  z-index: -100;
}

.guess_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  margin-top: 5rem;
}

.guess_main .winner {
  /* font-family: 'Mochiy Pop P One', sans-serif; */
  font-size: 5rem;
  letter-spacing: .5rem;
  color: #EA5C2B;
  text-shadow: 4px 4px 2px #35589A;
}

.dice_main {
  display: flex;
  margin: 3rem 0;
  gap: 7rem;
}

.dice h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.dice .dice_img {
  width: 150px;
  height: 150px;
}

.dice .main_player {
  position: relative;
}

.dice .main_player::after {
  content: 'vs';
  position: absolute;
  /* color: #FF1700; */
  /* color: #EA5C2B; */
  color: #222;
  font-family: 'Neonderthaw', cursive;
  font-size: 6rem;
  right: -91px;
  top: 30px;
}

/* Selecting the roll button  */
.guess_main .roll {
  cursor: pointer;
  border: none;
  color: #F0ECE3;
  background: #9B0000;
  padding: 1.2rem 2rem;
  border-radius: 3rem;
  box-shadow: 0 2px 2px #F0ECE3;
  font-size: 1.3rem;
  font-family: var(--permanentmark);
  transition: all 1s ease-out;
}

.guess_main .roll:hover {
  background-color: #EA5C2B;
  font-family: var(--shintlight);
  letter-spacing: .2rem;
  box-shadow: 0 4px 2px #35589A;
}

@media (max-width:1522px) {
  .bg_img img {
    height: 765px;
  }
}

@media (max-width:1064px) {

  /* Bringing the game to the top and form down below */
  main {
    flex-direction: column-reverse;
  }

  .play_guess {
    width: 100%;
    position: relative;
  }

  /* Adding message for registration */
  .play_guess::before {
    content: 'Register down below 👇🏾';
    position: absolute;
    top: 2rem;
    left: 35vw;
    font-size: 1.5rem;
    background: #35589A;
    padding: 0 .5rem;
  }

  .guess_main .roll {
    /* margin-bottom: 2rem; */
  }

  /* Changing the form */
  .myform {
    width: 80%;
    max-width: 430px;
  }

  /* Changing text sizes */
}

@media (max-width:766px) {
  .guess_main .winner {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 2rem !important;
    /* color: #EA5C2B !important; */
    text-shadow: 2px 3px 2px #35589A;
    /* background: #F0ECE3; */
    padding: .2rem .7rem;
    border-radius: 3px;
  }

  /* Sign up button looks a little big */
  .myform button {
    font-family: var(--shintlight);
  }
}

@media (max-width:498px) {
  .play_guess::before {
    left: 25vw;
  }

  .guess_main .winner {
    /* font-family: var(--shintlight); */
    font-family: 'Merriweather', serif;
    text-align: left;
    color: #EA5C2B !important;
    text-shadow: 1px 2px 1px #F0ECE3;
  }

  .myform button {
    width: 80%;
    margin-left: 1.5rem;
  }

  .myform h2 {
    font-family: 'Merriweather', serif;
  }
}

@media (max-width:424px) {
  .dice_main {
    width: 90%;
    gap: 5rem;
    justify-content: center;
  }

  .dice .main_player::after {
    font-size: 4.5rem;
    right: -71px;
  }

  .dice .dice_img {
    width: 130px;
    height: 130px;
  }

  .dice h2 {
    font-size: 1rem;
    letter-spacing: .1rem;
  }

  .myform button {
    width: 100%;
    margin-left: 0;
    padding: 1rem auto;
    font-size: 1rem;
  }

  nav ul {
    display: none;
  }
}

/* Navigation responsiveness still not done */